.admin_main_wrapper {
    display: flex;
}

.admin_main_wrapper .admin_main_right {
    padding: 3%;
    width: 100%;
}

@media screen and (max-width: 768px) {
    .admin_main_wrapper {
        display: block;
    }
}