.quiz_main_wrapper {
    height: 100vh;
}

.quiz_question {
    margin: 20px 0;
}

.quiz_main_wrapper div {
    width: 700px;
}

.quiz_question label {
    font-size: 20px;
    margin: 10px 0;
    padding: 10px 0;
    border-radius: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    cursor: pointer;
}

.quiz_question label input {
    accent-color: green;
    margin: 0 20px;
    transform: scale(1.5);
    display: none;
}

.quiz_question label i {
    display: inline-block;
    margin-right: 5px;
    border-radius: 50%;
    padding: 7px 8px;
    opacity: 0;
}

.quiz_question label input[type="radio"]:checked+i {
    opacity: 1;
}

.quiz_main_results {
    width: 80%;
    margin: 0 auto;
    padding: 2%;
}

.quiz_main_results ul {
    list-style: none;
    padding: 0;
}

.quiz_main_results ul li {
    margin: 30px 0;
}

.quiz_main_results ul li .checking_answer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.quiz_main_results ul li span {
    width: 100% !important;
}

.quiz_main_results ul li .checking_answer span,
.quiz_main_results ul li span {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
}

.quiz_main_stats {
    display: inline-flex;
    flex-direction: column;
}

.quiz_main_stats span {
    padding: 2px 10px;
    font-size: 10px;
}

@media screen and (max-width: 768px) {
    .quiz_main_results {
        margin-top: 20px;
        padding: 0;
    }

    .quiz_main_results ul li .checking_answer span i,
    .quiz_main_results ul li span i {
        display: none;
    }

    .quiz_main_results ul li .checking_answer span,
    .quiz_main_results ul li span {
        border-radius: unset !important;
    }

    .quiz_main_results ul li .checking_answer {
        display: block;
    }

    .quiz_main_wrapper {
        padding: 30px 0;
    }

    .quiz_main_wrapper div {
        width: 90%;
        margin: 0 auto;
    }

    .quiz_main_wrapper {
        height: unset;
    }
}